.footer{
    background-color: rgba(28, 31, 30, 0.88);
    color: #fff;
    letter-spacing: 3px;
    padding-bottom: 2%;
}

.footer i{
    font-size: 30px;
    margin-left: 2%;
    margin-top: 2%;
    padding: 1%;
    border-radius: 100%;
    background-color: #28C67D;
    color: #fff;
}

.btn {
  margin:5% 0 0 8%;
}

.btn-logo {
  margin-top: 5%;
}

.mt {
  margin-top: 5%;
}

.logo{
    margin-top: 15%;
    width: 70%;
}

hr {
  width: 60%;
}
