.foto-perfil {
  width: 60%;
  border-radius: 100%;
  margin-top: 10%;
}
.background--vino {
  background-color: rgba(28, 31, 30, 0.58);
}
.background--rosaObscuro {
  background-color: #E8C9D3;
}
.btn--verde {
  background-color: #C6D32E;
}
.padding-label {
  padding: 5%;
}

.img-logo {
  width: 48%;
}

.nav--height {
  height: 80px;
}



.margin-row {
  margin-top: 2%;
}

.search {
  margin-left: 80%;
}
