.foto-perfil {
  width: 60%;
  border-radius: 100%;
  margin-top: 10%;
}
.background--negro {
  background-color: rgba(28, 31, 30, 0.88);
}
.background--rosaObscuro {
  background-color: #E8C9D3;
}
.btn--verde {
  background-color: #28C67D;
}
.padding-label {
  padding: 5%;
}

.img-logo {
  width: 35%;
}

.nav--height {
  height: 80px;
}



.mt {
  margin-top: 2%;
}

.search {
  margin-left: 80%;
}

.background-rojo {
  background-color: rgba(215, 33, 22, 0.31);
}

.background-verde {
  background-color: rgba(7, 189, 18, 0.28);
}

.background-azul {
  background-color: rgba(71, 140, 242, 0.38);
}

.background-morado {
  background-color: rgba(110, 23, 209, 0.38);
}
